{% extends 'catalog/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>Наши товары</h1>
<div class="product-list">
    {% for product in products %}
        <div class="product-card">
            <a href="{% url 'catalog:product_details' product.id %}"><h2>{{ product.name }}</h2></a>
            </a>
            <p>{{ product.description | truncatechars:100 }}</p>
            <p><strong>Цена: </strong> {{ product.price }} руб.</p>
        </div>
    {% endfor %}
</div>

{% endblock %}